{% extends "base.html" %}

{% block content %}
<h2>Record Sale</h2>

<form method="POST" class="shadow p-4 rounded bg-light">

    <div class="mb-3">
        <label>Select Product</label>
        <select name="product_id" class="form-control" required>
            {% for product in products %}
                <option value="{{ product.id }}">{{ product.name }} (Stock: {{ product.quantity }})</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label>Quantity</label>
        <input type="number" name="quantity" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-success btn-lg"><i class="bi bi-check-lg"></i> Submit Sale</button>
</form>
{% endblock %}
